[Unit]
Description=Ghislieri Bot service
After=network.target

[Service]
WorkingDirectory=/opt/ghislieri_services/Ghislieri_Bot
ExecStart=/usr/bin/python3 GhilsleriBot.py
User = ghislieri-services
Group = ghislieri-services
Restart = on-failure
RestartSec = 5

[Install]
WantedBy=multi-user.target
